---
layout: default
---

<div class="well">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.categories['blog'] %}
    <li><span>{{ post.date | date: "%B %-d, %Y" }}</span> <span class="separator">~</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Media Posts</h1>
  <ul class="posts">
    {% for post in site.categories['media'] %}
    <li><span>{{ post.date | date: "%B %-d, %Y" }}</span> <span class="separator">~</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Links</h1>
  <ul class="posts">
    {% for post in site.categories['link'] %}
    <li><span>{{ post.date | date: "%B %-d, %Y" }}</span> <span class="separator">~</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
